{"filter":false,"title":"requirements.txt","tooltip":"~/workspace/pset8/mashup/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1559886129655,"hash":"a03e3eca8ef675755686f09c5bf2d0f29b5ff665"}